* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
}

.nav-bar {
  background: white;
  padding: 0.5rem;
  text-decoration: none;
}
html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  outline: 0;
}

.tabContainer {
  display: grid;
  border: solid 2px red;
  background: white;
}

.tab {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2rem;
  text-align: center;

  border: solid 1.5px rgb(129, 127, 170);
  background: white;
  width: 80vw;
  height: 10em;
  opacity: 0;
  border-radius: 0.2rem;
}

.btn {
  position: absolute;
  margin-top: 10px;
  bottom: 10px;
  padding: 2px;
  background: white;
  opacity: 0;
  left: 20px;
  z-index: 2;
  border: none;
}

@media screen and (min-width: 800px) {
  .tab {
    width: 30vw;
  }
}

.Show {
  opacity: 0.7;
}
